
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/weatherstyle.css " rel="stylesheet" />
<link href="~/Content/locck.css" rel="stylesheet" />

<!--  Traffic  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="row">
                <div class="col-lg-5">
                    <div class="card-body">
                        <!-- <canvas id="TrafficChart"></canvas>   -->
                        <div class="clock pt-md-5">
                            <div id="Date">Monday 14 January 2013</div>

                            <ul>
                                <li id="hours">10</li>
                                <li id="point">:</li>
                                <li id="min">13</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card-body">
                        <div class="weather_card">
                            <div class="search">
                                <input type="text" class="search-bar" placeholder="Search">
                                <button>
                                    <i class="fa fa-search" aria-hidden="true" ></i>
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em"
                                         width="1.5em" >
                                    </svg>
                                </button>
                            </div>
                            <div class="weather loading mx-5 mx-md-1">
                                <h2 class="city">Weather in Denver</h2>
                                <h1 class="temp">51°C</h1>
                                <div class="flex">
                                    <img src="https://openweathermap.org/img/wn/04n.png" alt="" class="icon" />
                                    <div class="description">Cloudy</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->


        </div>
    </div>
</div>
<!--  /Traffic -->
<!-- Widgets  -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="pe-7s-cash"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">$<span class="count">@ViewBag.TodayRevenue</span></div>
                            <div class="stat-heading">營業額</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="pe-7s-cart"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.TodaySaleItemNum</span></div>
                            <div class="stat-heading">銷售數量</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="pe-7s-users"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.TodayNumOfCust</span></div>
                            <div class="stat-heading">來客數</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-browser"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">@ViewBag.TodaySalePerCust</span></div>
                            <div class="stat-heading">客單價</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Widgets -->
<div class="row">




    <!-- 時段業績 -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">時段業績 </h4>
                <canvas id="singelBarChart"></canvas>
            </div>
        </div>
    </div><!-- /# column -->
    <!-- 商品業績分布 -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">商品銷售分布 </h4>
                <canvas id="doughutChart"></canvas>
            </div>
        </div>
    </div><!-- /# column -->
</div>

<script>
    var TimeList =@Html.Raw(ViewBag.TimeList);
    var RevenueList =@Html.Raw(ViewBag.RevenueList) ;

    var ctx = document.getElementById("singelBarChart");
    ctx.height = 150;
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: TimeList,
            datasets: [
                {
                    label: "時段銷售金額(單位:元)",
                    data: RevenueList,
                    borderColor: "rgba(0, 194, 146, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    var ctx = document.getElementById("doughutChart");
    ctx.height = 150;
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [35, 40, 20, 5],
                backgroundColor: [
                    "rgba(0, 194, 146,0.9)",
                    "rgba(0, 194, 146,0.7)",
                    "rgba(0, 194, 146,0.5)",
                    "rgba(0,0,0,0.07)"
                ],
                hoverBackgroundColor: [
                    "rgba(0, 194, 146,0.9)",
                    "rgba(0, 194, 146,0.7)",
                    "rgba(0, 194, 146,0.5)",
                    "rgba(0,0,0,0.07)"
                ]

            }],
            labels: [
                "主餐",
                "沙拉",
                "附餐",
                "飲料"
            ]
        },
        options: {
            responsive: true
        }
    });


</script>


<script src="~/Scripts/script/AdminIndex.js"></script>